/*@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto+Slab:wght@300;400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito:wght@200&display=swap');



body {
    background-color: #D3E1E4;
    color: #86878D;
    /*make sure you set family and size on body*/
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

/* Typograhpy */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nanum Gothic', sans-serif;
}

h1 {
    padding-top: 25px;
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #558FB2;
}

h1 a,
h1 a:visited {
    color: #558FB2;
}

h1 a:hover {
    text-decoration: none;
    color: #fff;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid #558FB2;
    padding-bottom: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;


}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 5px solid #558FB2;
    padding-bottom: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;


}

h4 {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 5px solid #558FB2;
    padding-bottom: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

h5 {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 5px solid #558FB2;
    padding-bottom: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

h6 {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 5px solid #558FB2;
    padding-bottom: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px
}

main ul {
    font-size: 15px;
    margin-bottom: 20px
}

main ul li {
    margin-bottom: 10px;
    margin-left: 40px;
    line-height: 20px;
}

/* anchor styles */
a {
    color: #ffffff;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;

}

a:visited {
    color: #cccccc;

}

a: active {
    color: red;

}



/* main containers */

.wrapper {
    width: 980px;
    margin: 0 auto;
}

header {
    padding: 20px;
    border-bottom: 1px solid #fff;
}

nav {
    float: right;
    margin-top: 25px;

}

nav ul {}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a,
nav ul li a:visited {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a.currentpage {
    text-decoration: none;
    background-color: #558FB2;
    color: #fff;
}




main {
    padding: 20px;
    overflow: auto;
}

main img {
    max-width: 100%;
}

.columns {
    clear: both;
    overflow: auto;
    margin-bottom: 20px;
}

.left-column {
    float: left;
    width: 45%;

}

.right-column {
    float: right;
    width: 45%;
}

.text-container {
    width: 600px;
    margin: 0 auto;

}

.3-row {
    float: left;
    width: 200px;
    max-width: 300px;

}

.4-row {
    float: left;
    width: 200px;
    max-width: 300px;

}



footer {
    padding: 20px;
    background-color: #A9B9BD;
    border-top: 1px solid #d6d6d6;
}

footer p {
    font-size;
    90%;
}

.leftimg {
    width: 45%;
    float: left;
    border: 1px solid grey;
    padding: 10px;
    background-color: white;

}

.middle {
    text-align: center;
}

.middle img {
    width: 750px;

}

.right {
    text-align: right;
}

.right img {
    width: 600px;
    text-align: center;
}

.left {
    text-align: center;
}

.left img {
    width: 600px;
}
